.welcomeWillWrapper {
    opacity: 0;
}

.welcomeWillWrapper.enter {
    transition: transform 1s ease-in-out, opacity 0.5s ease-in-out;
    opacity: 1;
    display: flex;
    justify-content: center;
}

.welcomeWill {
    position: relative;
    height: 236px;
    width: 129px;
    overflow: hidden;
}

.welcomeWillWrapper .will-text {
    text-indent: 0px;
    position: absolute;
    background-color: white;
    border: 1px dashed #333;
    border-radius: 5px;
    width: 180px;
    height: 50px;
    padding: 3px;
    top: -60px;
    z-index: 1;
}