.winWillWrapper {
    position: absolute;
    height: 401px;
    width: 362px;
    left: 200px;
}

.winWillWrapper .winWill {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
    opacity: 1;
    text-align: right;
}

.winWillWrapper .will-text.show {
    background-color: white;
    border: 1px dashed #333;
    border-radius: 5px;
    width: 80px;
    height: 30px;
    padding: 3px;
    top: -30px;
    text-indent: 0px;
    position: absolute;
    font-size: smaller;
    z-index: 1;
}

@media only screen and (max-height: 600px) {
    .winWillWrapper {
        height: 224px;
        width: 183px;
        left: 50px;
    }
  }