
.scoreContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 1em;
    width: 30%;

}

@media only screen and (max-height: 600px) {
    .scoreContainer {
        position: fixed;
        top: calc(40px - 0.5em);
        left: 30px;
    }
  }

.scoreContainer .score {
    position: relative;
    width: 100%;
    background-color: #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.scoreContainer .score.changing {
    box-shadow: 0px 0px 10px 1px #d93f87;
}

.scoreContainer .score .bar {
    background-color: #a8c824;
    height: 100%;
    transition: width 0.3s ease-in-out;
}

.scoreContainer .namesContainer {
    position: relative;
    display: flex;
    height: 1em;
    width: 100%;
}

.scoreContainer .name {
    position: relative;
    vertical-align: middle;
    color: #333;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    margin: 0 10px;
    height: 1em;
}