
.scoreContainer {
    display: flex;
    height: 20px;
    width: 30%;
    align-items: center;
    position: fixed;
    top: calc(70px - 0.5em);
    left: 30px;
}

.scoreContainer.chris {
    right: 30px;
    left: unset
}

@media only screen and (max-height: 600px) {
    .scoreContainer {
        top: calc(38px - 0.5em);
    }
  }

.scoreContainer .score {
    position: absolute;
    padding: 2px 3px;
    height: 100%;
    width: 100%;
    border: 2px solid white;
    background-color: rgb(204 204 204 / 85%);
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 0 0 5px rgb(0 0 0 / 20%);
}

.scoreContainer .score.changing .bar {
    box-shadow: 0px 0px 10px 1px rgb(217, 63, 135, 0.6); 
}

.scoreContainer .score .bar {
    background-color: #a8c824;
    height: 100%;
    transition: width 0.3s ease-in-out;
}

.scoreContainer .name {
    position: relative;
    vertical-align: middle;
    color: #fff;
    font-weight: bold;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    margin: 0 10px;
    height: 1em;
    font-size: small;
    font-style: italic;
}