.App {
  font-family: sans-serif;
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.App header {
  padding: 15px 0;
  height: 50px;
  text-align: center;
  z-index: 1;
  pointer-events: none;
}

.App header img {
  height: 100%;
  vertical-align: middle;
}

.App .content {
  background-image: url("./images/background.png");
  padding: 30px 30px;
  flex: 1;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

.App .noSelect {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.App .noSelect:focus {
  outline: none !important;
}

@media only screen and (max-width: 600px) {
  .App header img {
    width: 100%;
  }
}