.App {
  font-family: sans-serif;
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.App header {
  padding: 15px 0;
  height: 100px;
  text-align: center;
  z-index: 1;
  pointer-events: none;
}

.App header img {
  height: 100%;
  vertical-align: middle;
}

.App .content {
  background-image: url("./images/background.png");
  padding: 30px 30px;
  flex: 1;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

.App .noSelect {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.App .noSelect:focus {
  outline: none !important;
}

.App .rotate {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: black;
  color: white;
  font-size: 1.5em;
  font-weight: 700;
  align-items: center;
  z-index: 999;
  justify-content: center;
}

@media only screen and (orientation:portrait) {
  .App .rotate {
    display: flex;
  }
}

@media only screen and (max-height: 600px) {
  .App header {
    height: 50px;
  }
}