.chrisWrapper {
    position: absolute;
    height: 397px;
    width: 217px;
}

.chrisWrapper .chris {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
    text-align: right;
}

.chrisWrapper .chris.fading {
    opacity: 0;
}

.chrisWrapper .chris-text.show {
    background-color: white;
    border: 1px dashed #333;
    border-radius: 5px;
    width: 80px;
    height: 30px;
    padding: 3px;
    top: -30px;
    text-indent: 0px;
    position: absolute;
    font-size: smaller;
    z-index: 1;
}

@media only screen and (max-height: 600px) {
    .chrisWrapper {
        height: 224px;
        width: 122px;
    }
  }